.sekil {
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.buton {
    background-color: #303134;
    border: 1px solid #303134;
    color: aliceblue;
    min-width: 54px;
    height: 36px;
}

.altetiket {
    color: #ffff;
}

.sabit {
    position: fixed;
    bottom: 0px;
    font-size: 17px;
    width: 100%;
    height: 50px;
    padding-top: 1rem;
    background-color: #000;
}